*{
    box-sizing: border-box;
}

body{
    padding: 20px;
    background-color: rgb(122, 233, 187);
    font-family: 'Stint Ultra Condensed', cursive;
font-family: 'Suez One', serif;
}

header{
    background-color: coral;
    height: 100px;
    border-style: solid;
    border-radius: 5px;
    border-width: 3px;
}

header h1{

    text-align: center;
    padding-top: 15px;
    font-weight: bold;
    font-size: 30px;
}

header nav{
    float: right;
    margin-right: 20px;
}

header nav ul li{

    display: inline;
    font-size: large;
    margin-right: 20px;
    
    
}

header nav ul li a{

    text-decoration: none;
    color: black;
    border-style:outset;
    border-width: 3px;
    background-color: blanchedalmond;
    border-radius: 5px;
    
}



main section h2{

    text-align: center;
    margin-top: 18px;
    font-size: large;
    font-weight: bold;
    border-style: solid;
    border-width: 3px;
    width: 170px;
    margin-left: 655px;
    background-color: blanchedalmond;

}



#div1{
 
    margin-left: 200px;
    margin-top: 30px;
}

#div1 img{
    margin-left: 15px;
}

#div2{
 
    margin-left: 290px;
    margin-top: 40px;
}
#div2 img{
    margin-left: 15px;
}

#div3{
 
    margin-left: 530px;
    margin-top: 30px;
}

hr{
    height: 30px;
    background-color: rgb(255, 130, 80);
    border-style: solid;
    border-radius: 5px;
    border-width: 3px;
}


h1{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}


#shops1{
    float: left;
    margin-left: 450px;
    margin-top: 20px;
    padding-right: 150px;
    font-weight: bold;
}

#shops2{
    margin-top: 40px;
    padding-top: 20px;
    font-weight: bold;
}

#shops3{
    float: left;
    margin-left: 450px;
    margin-top: 20px;
    
    
    padding-right: 150px;
    font-weight: bold;
}

#shops4{
    margin-top: 40px;
    padding-top: 20px;
    font-weight: bold;
}

#shopsDiv3{

    margin-top: 40px;
    margin-left: 650px;
    font-weight: bold;
  
}


.Names{
    font-size: larger;
    color: coral;
}


footer{
    margin-top: 30px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}


