*{
    box-sizing: border-box;
}
header{
    text-align: center;
}

body{
    background-color: darkcyan;
    font-family: 'Stint Ultra Condensed', cursive;
    font-family: 'Suez One', serif;
}
header a {

    
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    color: black;
    

}
fieldset{
    margin-top: 30px;
    width:300px;
    margin-left: 600px;
    background-color: coral;
}

fieldset label{
    font-size: large;
    font-weight: bold;
    color: black;
}

/* table{

    border-style: sold;
    border-width: 10px;

} */
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}